body { background: grey; font-family: arial;}
.container { background: white; border-radius: 20px; width: 960px; margin: auto;}
.header { }
.header img { height: 75px;}
.menu { float: right; }
.menu li {display: inline-block; margin-left: 10px}
.menu a {text-decoration: none; color: #F1G121; padding: 5px;}
.menu a:hover{ border: 2px solid blue; border-radius: 3px}

.top
{
	
}


.top a:hover
{	
	
}

.slider img
{ 

}


.row { text-align: center; background: #F0F0F0;}
.container
{
}

.header
{}

.header img
{ 
}
fdjkf djk fbdgj kfdbj bjfdb.
.menu
{
}

.menu li
{
	
}

.menu a
{
	
}

.menu a:hover{
	
}

.top { }

.top a:hover { background: grey; border-radius: 20px}
.slider img {width: 960px;}
.row { text-align: center; background: #F0F0F0; padding:5px;}
.row2 { text-align: center; padding:5px}
.col {display: inline-block; width: 260px; margin: 20px}

.col h2
{
	
}

.col p
{
	
}
.article { width: 450px; text-align: center; font-weight: bold; width:400px; display:inline-block; padding:20px; background: #A0A0A0;}
.article p { color: white; font-size: 14px;}
#lateral { width: 150px; height:150px; border-radius: 150px;}
.footer { overflow: hidden;}

.footer a{}

.footer span
{
	
}g:5px;
}



.col
{
}

.col h2
{
	
}

.col p
{
	
}
.article p
{
	

	
}
#lateral { width: 150px; height:150px; border-radius: 150px;}
.article
{

	
}




.footer
{
	
}

.footer a
{
	
}

.footer span
{
	
}